/* //////////////////////////// */
/* NAVIGATION */
/* //////////////////////////// */

.logo {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}

.nav-header {
  padding: 3.2rem 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 400;
}

.main-nav-links:link,
.main-nav-links:visited {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;

  padding: 1rem;
  border-radius: 32px;
}

.main-nav-links:hover,
.main-nav-links:active {
  background-color: rgba(139, 142, 146, 0.2);
}

.nav-icon {
  width: 3rem;
  height: 3rem;
  stroke: #fff;
}

.nav-btn:link,
.nav-btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d9bf0;
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-btn:hover,
.nav-btn:active {
  background-color: #1a8cd8;
}

/* mobile navigation */
.main-mobile-nav {
  opacity: 0;
  padding: 2rem;
  background-color: #000;
  border-top: 0.5px solid rgba(139, 142, 146, 0.4);
}

.mobile-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.mobile-nav-links:link,
.mobile-nav-links:visited {
  color: #fff;
}

/* //////////////////////////// */
/* MAIN CONTENT/ HERO  */
/* //////////////////////////// */

.section-hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}

.banner {
  display: flex;
  gap: 1.6rem;
  padding: 1.2rem;
}

.banner-container {
  position: relative;
}

.hero-img-box {
  background-image: url(img/banner-img.jpg);
  background-size: cover;
  background-position: center;
  height: 22rem;
  /* position: relative; */
}

.hero-user-img-box {
  height: 12.8rem;
  width: 12.8rem;
  border-radius: 50%;
  background-image: url(img/profile-photo.jpg);
  background-size: cover;
  background-position: center;

  position: absolute;
  bottom: 0;
  left: 2.4rem;
  transform: translateY(50%);
  border: 4px solid #000;
}

.banner-img {
  width: 100%;
}

.edit-btn-div {
  padding: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2.4rem;
}

.edit-btn:link,
.edit-btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 2.4rem;
}
.hero-text-box {
  padding: 0 1.5rem;
}

.hero-text {
  margin-bottom: 1rem;
}

.hero-joined {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.hero-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #8b8e92;
}

.user-id-text {
  margin-bottom: 2.4rem;
}

.hero-followers {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.hero-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem 1.5rem;
  border-bottom: 0.5px solid rgba(139, 142, 146, 0.4);
}

.hero-nav-links:link,
.hero-nav-links:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #8b8e92;
}

/* ASIDE */

.search-bar-div {
  position: relative;
  margin-bottom: 2.4rem;
}

.search-bar {
  background-color: #202327;
  width: 100%;
  align-self: center;
  padding: 1.4rem 2.4rem;
  border-radius: 32px;
  border: none;

  /* position: relative; */
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #8b8e92;

  position: absolute;
  top: 0.8rem;
  left: 1rem;
}

.search-bar::placeholder {
  padding-left: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.you-might-like {
  background-color: #202327;
  border-radius: 16px;
  padding: 1.8rem;
  margin-bottom: 2.4rem;
}

.aside-heading {
  padding-bottom: 3.2rem;
}

.like--1 {
  background-image: url(img/suggestion-photo-1.jpg);
}
.like--2 {
  background-image: url(img/suggestion-photo-2.jpg);
}

.suggestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
  margin-bottom: 2rem;
}

.suggestions-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.aside-follow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 32px;
  text-decoration: none;
}
.aside-follow-btn:link,
.aside-follow-btn:visited {
  color: #202327;
  font-size: 1.4rem;
  font-weight: 600;

  transition: all 0.3s ease;
}

.aside-follow-btn:hover,
.aside-follow-btn:active {
  background-color: #e6e6e6;
}

.aside-show-more {
  text-decoration: none;
}

.aside-show-more:link,
.aside-show-more:visited {
  color: #1d9bf0;
}

/* WHATS HAPPENING SECTION */
.section-whats-happening {
  background-color: #202327;
  border-radius: 16px;
  padding: 1.8rem;
}

.aside-happening-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
/* 
.aside-happening-img {
  border-radius: 1.6rem;
  background-image: url(img/happening-img-1.jpg);
  background-size: cover;
  background-position: center;
  width: 30%;
} */

.happening-img {
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 1.6rem;
}

.aside-happening-text {
  margin-bottom: 2.4rem;
}

.happening-text {
  font-weight: 600;
}

/* TWEET */
.tweet-div {
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 92fr;
  column-gap: 1rem;
  border-bottom: 0.5px solid rgba(139, 142, 146, 0.4);
}

.tweet-secondary {
  grid-column: 2/3;
}

.tweet-owner-info {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 2/3;
}

.tweet-owner-text {
  align-self: center;
}

.tweet-user-img {
  border-radius: 50%;
  width: 4.4rem;
  height: 4.4rem;
  background-image: url(img/tweet-user-img.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
}

/* This is a mistake that needs to be refactored *temporary* */
.tweet-user-img-2 {
  border-radius: 50%;
  width: 4.4rem;
  height: 4.4rem;
  background-image: url(img/tweet-user-img-2.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
}

.tweet-owner-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tweet-content-box {
  grid-column: 2/3;
}

.tweet-img {
  width: 100%;
  border-radius: 1.6rem;
}

.tweet-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/3;
}

.tweet-btn {
  height: 3.6rem;
  width: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  background-color: #000;
  border-radius: 50%;
  border: none;
}

.tweet-btn:hover,
.tweet-btn:active {
  background-color: rgba(139, 142, 146, 0.2);
  cursor: pointer;
}

.tweet-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #8b8e92;
}
